/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: monospace;
    color: #00FF00;
    font-weight: bold; /* Make the text bolder */
    font-size: 18px; /* Increase the font size */
}

/* Terminal styles */
.terminal {
    background-color: black;
    border: 2px solid #00FF00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    width: 100%; /* Set the terminal width to 100% */
    max-width: 1400px; /* Set a maximum width for larger screens */
    height: 73vh; /* Set height to 80% of the viewport height */
    padding: 40px;
    margin: 0 auto; /* Center the terminal horizontally */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.output {
    margin: 0;
    padding: 0;
    max-height: 100%; /* Allow the output to take up the available height */
    overflow: auto;
    position: relative;
    white-space: pre-wrap;
}

.green-text {
    color: #00FF00;
}

/* Input line styles */
.input-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.prompt {
    color: #00FF00;
    margin-right: 5px;
}

#user-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #00FF00;
    color: #00FF00;
    font-family: monospace;
    outline: none;
    width: 100%;
}

/* Navigation styles */
.navigation {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #00FF00;
    font-weight: bold; /* Make the navigation link text bolder */
    font-size: 18px; /* Increase the font size for navigation links */
}

.navigation a:hover {
    text-decoration: underline;
}

/* CVE page specific styles */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.animated-list {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeAndSlideUp 1s forwards;
}

.twitter-post {
    background-color: black;
    border: 2px solid #00FF00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    width: calc(33.33% - 20px);
    height: 250px; /* Set a fixed height for uniform size */
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    text-align: center; /* Center the content horizontally */
}

.twitter-post p {
    margin: 10px 0;
}

/* Other CSS rules */
.emoji {
    font-size: 20px;
    margin-right: 5px;
    border: 2px solid #00FF00;
    padding: 3px;
    border-radius: 50%;
}
