/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: monospace;
    color: #00FF00;
    font-weight: bold;
    font-size: 18px;
}

/* Terminal styles */
.terminal {
    background-color: black;
    border: 2px solid #00FF00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    width: 100%;
    max-width: 100%; /* Set maximum width for all screen sizes */
    height: auto; /* Adjust height automatically based on content */
    padding: 20px; /* Reduce padding for smaller screens */
    overflow-y: auto;
}

.output {
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: auto;
    position: relative;
    white-space: pre-wrap;
}

.green-text {
    color: #00FF00;
}

/* Input line styles */
.input-line {
    display: flex;
    flex-direction: column; /* Stack input elements vertically on mobile */
    margin-top: 10px;
}

.prompt {
    color: #00FF00;
    margin-bottom: 5px; /* Add spacing at the bottom */
}

#user-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #00FF00;
    color: #00FF00;
    font-family: monospace;
    outline: none;
    width: 100%;
}

/* Navigation styles */
.navigation {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px; /* Reduce spacing between navigation items */
}

.navigation a {
    text-decoration: none;
    color: #00FF00;
    font-weight: bold;
    font-size: 16px; /* Reduce font size for navigation links */
}

.navigation a:hover {
    text-decoration: underline;
}

/* CVE page specific styles */
.content {
    display: flex;
    flex-direction: column; /* Stack content vertically on mobile */
    align-items: center;
    padding: 10px; /* Reduce padding for smaller screens */
}

.animated-list {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeAndSlideUp 1s forwards;
}

/* Other CSS rules */
.emoji {
    font-size: 20px;
    margin-right: 5px;
    border: 2px solid #00FF00;
    padding: 3px;
    border-radius: 50%;
}
